#wizfightmain {
    display: flex;
    flex-direction: row;
}
#playingfield {
    border: 3px dashed rgb(60, 91, 59);
    width: 80%;
    height: 70vh;
    margin: 5px;
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: normal;
    white-space: normal;
}
label {
    color:rgb(60, 91, 59);
}
.wiztext {
    color: red;
}
.narration {
    font-style: italic;
    color: rgb(60, 91, 59);
}
.narrationbad {
    font-style: italic;
    color: rgb(228, 5, 5);
}
.you {
    font-family: 'Copperplate'; 
    color: rgb(29, 44, 105);
}
.cod {
    font-style: italic;
    color:rgb(144, 170, 41);
}
.homunculus {
    color:rgb(176, 92, 1);
}
.damp {
    font-style: italic;
    color:rgb(136, 184, 55);
}
.damn {
    font-style: italic;
    color:rgb(184, 55, 55);
}
.end {
    color: rgb(60, 91, 59);
}
#yourname, #homnumfield, #sonname {
    padding:7px;
    border: 1px solid rgb(60, 91, 59);
    border-radius: 4px;
    color: rgb(60, 91, 59);
    background-color: rgb(212, 232, 212);
}
#yourname:focus, #homnumfield:focus, #sonname:focus {
    outline: none;
    border: 1px solid rgb(136, 184, 55);
}
#nextbutton {
    background-color: rgb(60, 91, 59);
    color:white;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-family: 'Papyrus', 'Copperplate', serif; 
}
#choices button, button {
    background-color: rgb(60, 91, 59);
    color:white;
    padding: 5px;
    text-align: left;
    font-family: 'Copperplate', serif;
}
#about {
    width: 200px;
}
#about div {
    border: 1px solid rgb(60, 91, 59);
    padding: 3px;
    margin: 5px;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: normal;
    white-space: normal;
}
#about div ul {
    list-style-type:none;
    margin-left: 5px;
    padding: 3px;
}
#about div ul li {
    font-size: 12px;
    color:rgb(60, 91, 59);
    padding-bottom: 4px;;
}
#about h3 {
    color:rgb(60, 91, 59);
}

/*Generic*/
::-moz-selection, ::selection {
    background:rgb(60, 91, 59) !important;
    color:rgb(212, 232, 212) !important;
}

body {
    background-color: rgb(238, 246, 238);
    overflow-y: scroll;
    overflow-x: hidden;
}
.navigation {
    /*  https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6
    *   made horizontally-scrolling menus work when no one else did
    */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: rgb(35, 48, 35);
}
.navigation div {
    display: inline-block;
    height: 250px;
    margin: 5px;
}
.navigation div:hover {
    background-color: rgb(60, 91, 59);
}
.navigation div:hover p {
    background-color: rgb(60, 91, 59);
}
.navigation div img {
    height: 90%;
}
.navigation div a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}
#banner {
    background-color: rgb(60, 91, 59);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 98vw;
    padding: 10px;
    display: inline-block;
    height: 20px;
}
#banner ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#banner ul li {
    color: white;
    font-size: 10px;
}
#banner ul li a {
    color: rgb(136, 184, 55);
}