body {
    flex-direction: row;
    max-height: 95vh;
}
#row-1 {
    display: block; /*none*/
    z-index: 1;
}
#row-2 {
    width: 60%;
    border: 1px solid rgb(106, 133, 105);
    margin: 25px;
    overflow-y: scroll;
    background-color: #fffeea;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
#row-2 ::-moz-selection, ::selection {
    background:rgba(255, 206, 81, 0.847) !important;
    color:rgb(0, 0, 0) !important;
}
#row-2 h5, #row-2 a {
    color: rgb(0, 0, 0);
}
ul {
    list-style-type: none;
}
.playlistlist, .folderlistinternal {
    list-style-type: "📂";
}
.folderlist {
    list-style-type: "📁";
}
.innerlist {
    list-style-type: "💿 ";
}
.closetab {
    list-style-type: '..\\'; 
}
.column {
    flex-direction: column;
    width: 40%;
}
#row-3 {
    height: 60vh;
    background-color: #1a1c1a;
    border: 1px solid rgb(60, 91, 59);
    overflow-y: scroll;
}
#row-3 ::-moz-selection, ::selection {
    background:rgb(255, 255, 255) !important;
    color:rgb(0, 0, 0) !important;
}
.playlistlist a, #row-3 a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.708);
}
.terminal-text {
    list-style-type: "C:\\neocities\\Users\\low-voltage\\Home>";
    list-style-position: inside;
    margin-left: -20px;
    font-family:'Courier New', Courier, monospace;
}
.terminal-text li {
    color: rgb(45, 224, 17);
}
#row-4, #row-5 {
    margin-top: 5vh;
    left: 5vh;
    height: 30vh;
    width: 95%;
    border: 1px solid rgb(60, 91, 59);
    overflow-y: scroll;
    padding-left: 5px;
    background-color: #1a1c1a;
}
#row-4 p, #row-4 h5{
    color: white;
}
#row-5 ul, #row-5 h5, #row-5 a, #row-5 a:visited {
    color: rgb(45, 224, 17);
}
.sessiontrack {
    background-color: rgb(45, 224, 17);
    color:rgb(0, 0, 0);
}