body {
    display: flex;
}
::-moz-selection, ::selection {
    background:rgb(60, 91, 59) !important;
    color:rgb(212, 232, 212) !important;
}
p, h1, h2, h3, h4, h5, h6 { /* Default text colour */
    color:rgb(35, 48, 35);
    display: block;
}